* {
    font-family: Microsoft JhengHei;
}

body,
html {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 20px;
}

h2 {
    font-size: 32px;
}

.inf-list {
    display: flex;
    padding-right: 50px;
    font-size: 18px;
}

.inf-list>span {
    display: flex;
    margin-right: 20px;
}

.inf-list>span>p {
    margin: 0;
    color: #EB9500;
}

article {
    font-size: 18px;
    line-height: 1.8rem;
}